<div class="contaner">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <table class="table table-bordered" *ngFor="let workout of workouts">
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
            <tr>
              <td>{{workout.id}}</td>
              <td>{{workout.name}}{{workout._name}}</td>
              <td>{{workout.description}} {{workout._description}}</td>
            </tr>
            <button class="btn btn-dark" (click)="editButton(workout.id)">Edit Workout</button>
        </table>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-info" (click)="goToCreateWorkout()">Add new</button>
    </div>
  </div>
</div>