<app-top-menu></app-top-menu>
<div class="contaner">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody *ngFor="let training of trainings">
            <tr>
              <td>{{training.name}}</td>
              <td>{{training.type}}</td>
              <td>{{training.description}}</td>
            </tr>
            <thead class="thead-light">
              <tr>
                <th>Exercises:</th>
              </tr>
            </thead>
            <tr>
              <td *ngFor="let exercise of training.exercises">
                <ul>
                  <li>{{exercise.name}}</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-info" (click)="goToCreateTraining()">Add new</button>
    </div>
  </div>
</div>