.btn {
  display: inline-block;
}

body {
  background-image: url("../../../img/exercises.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  overflow-y: hidden;
  overflow-x: hidden;
}

table {
  background-color: white;
  opacity: 0.8;
}
