<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10">
      <form class="form-inline" [formGroup]="createExerciseFormGroup">
        <div formArrayName="exercisesForms">
          <div *ngFor="let exercise of exercisesForms.controls;
       let i = index" class="form-group">
            <div [formGroupName]="i">
              <div class="form-row">
              <input type="text" formControlName="name" class="form-control" style="margin-left: 5px"
                placeholder="Exercise Name">
              <input type="text" formControlName="type" class="form-control" style="margin-left: 5px"
                placeholder="Exercise Type">
              <input type="number" formControlName="reps" class="form-control" style="margin-left: 5px" size=4
                placeholder="Reps">
              <input type="number" formControlName="duration" class="form-control" style="margin-left: 5px" size=4
                placeholder="Time">
              <input type="text" [formControlName]="'description'" class="form-control" style="margin-left: 5px"
                placeholder="Description">
              <select type="text" formControlName="workout" class="form-control" style="margin-left: 5px"
                placeholder="Workouts">
                <option *ngFor="let workout of availableWorkouts" [ngValue]="workout"
                  [class.selected]="workout === selectedWorkout">{{workout.name}}</option>
              </select>
            </div>
            <div class="form-row">
              <button class="btn btn-warning" (click)="removeExercise(i)">Remove Exercise</button>
              <button class="btn btn-success" [disabled]="exercise.invalid" (click)="saveExercise(i)">Save Exercise</button>
            </div>
            </div>
          </div>
          <!-- <div class="row">
        <button class="btn btn-info">Add Exercise</button>
      </div> -->
        </div>
      </form>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-warning" (click)="addExerciseForm()">Add Exercise</button>
      <button class="btn btn-info" (click)="printAll()">Print All Exercises</button>
    </div>
  </div>
</div>
