<div class="container">
    <form class="form-inline" [formGroup]="createExerciseFormGroup" (ngSubmit)="createExercise()">
      <div class="form-group container">
        
        <div class="row">
          <input type="text" [formControlName]="'name'" class="form-control" style="margin-left: 5px"
            placeholder="Exercise Name">
          <input type="text" [formControlName]="'type'" class="form-control" style="margin-left: 5px"
            placeholder="Exercise Type">
          <input type="number" [formControlName]="'reps'" class="form-control" style="margin-left: 5px" size=4
            placeholder="Reps">
          <input type="number" [formControlName]="'duration'" class="form-control" style="margin-left: 5px" size=4
            placeholder="Time">
          <!-- <input type="text" [formControlName]="'description'" class="form-control" style="margin-left: 5px"
          placeholder="Description"> -->
          <select type="text" [formControlName]="'workout'" class="form-control" style="margin-left: 5px"
            placeholder="Workouts">
            <option *ngFor="let workout of availableWorkouts" [ngValue]="workout"
             [class.selected]="workout === selectedWorkout">{{workout.name}}</option>
          </select>
        </div>
      </div>
        <div class="row">
          <button class="btn btn-default" (click)="createExercise()">Add Exercise</button>
          <button class="btn btn-default">Add Exercise2</button>
        </div>
    </form>
    <button class="btn btn-warning" (click)="addNewExerciseForm()">Add Another Exercise</button>
    <button class="btn btn-info" (click)="printAll()">Print All Exercises</button>

</div>
<app-create-workout></app-create-workout>