<app-top-menu></app-top-menu>
<div class="container-fluid">

    <div class="create-training-container">
        <form class="form-inline" [formGroup]="createTrainingFormGroup" (ngSubmit)="saveTraining()">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10">
                        <input type="text" formControlName="name" class="training-name form-control"
                            style="margin-top: 5px" placeholder="Training Name">
                        <div class="form-row">
                            <textarea type="text" formControlName="description" class="form-control"
                                style="width: 40%; margin-top: 5px" placeholder="Description"></textarea>
                        </div>
                    </div>
                    <div class="col col-sm-2">
                        <div class="container">
                            <div class="row">
                                <button type="submit" class="btn btn-success"
                                    [disabled]="createTrainingFormGroup.invalid">Save
                                    Training</button>
                                <button class="btn btn-warning" (click)="backToTrainingsList()">Discard</button>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-info"
                                    (click)="createTrainingExerciseComponent()">Add Exercise</button>
                                <button (click)="printAll()" class="btn btn-warning">Print All</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-array" formArrayName="exercisesFormArray">
                            <template #trainingExerciseContainer></template>
                            <app-training-exercise></app-training-exercise>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>