<div class="container-fluid">

    <div class="create-training-container">
        <form class="form-inline" [formGroup]="createTrainingFormGroup" (ngSubmit)="saveTraining()">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="form-row">
                            <input type="text" formControlName="name" class="training-name form-control"
                                style="margin-top: 5px" placeholder="Training Name">
                            <input type="text" formControlName="type" class="training-type form-control"
                                style="margin-top: 5px" placeholder="Type">
                        </div>
                        <div class="form-row">
                            <textarea type="text" formControlName="description" class="form-control"
                                style="width: 60%; margin-top: 5px" placeholder="Description"></textarea>
                        </div>
                        <div class="form-row">
                            <div class="form-array" formArrayName="exercisesFormArray">
                                <div *ngFor="let exerciseForm of exercisesFormArray.controls; let i = index;">
                                    <select type="text" [formControlName]="i" class="exercise-select form-control"
                                        style="margin-left: 5px" placeholder="Exercises">
                                        <option *ngFor="let exercise of availableExercises" [ngValue]="exercise">
                                            {{exercise.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-2">
                        <div class="container">
                            <div class="row">
                                <button type="submit" class="btn btn-success"
                                    [disabled]="createTrainingFormGroup.invalid">Save
                                    Training</button>
                                <button class="btn btn-warning" (click)="backToMainPage()">Discard</button>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-info" (click)="addExercise()">Add Exercise</button>
                                <button (click)="printAll()" class="btn btn-warning">Print All</button>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </form>
    </div>
</div>