.register-section {
  margin: 100px;
}

body {
  background-image: url("../../../img/main.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  overflow-y: hidden;
  overflow-x: hidden;
}