<app-top-menu></app-top-menu>
<body>
<div class="container">
  <div class="row">
    <hr />
    <div class="create-post-container col-md-9">
      <form class="post-form" [formGroup]="createPostForm" (ngSubmit)="sentPostAction()">
        <div class="form-group">
          <div class="create-post-heading">Create Post</div>
          <hr/>
          <input type="text" [formControlName]="'postName'" class="form-control" style="margin-top: 5px"
          placeholder="Title">
        
        <editor [formControlName]="'content'"  apiKey="z8odxby2hanucfwt34v3w085h3w4slzas90vjdbyv7se8153" [init]="{
          height: 500,
          menubar: false,
          plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
          ],
          toolbar:
            'undo redo | formatselect | bold italic backcolor | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | removeformat | help'
        }"></editor>
        <!-- <textarea [formControlName]="'content'" cols="102" rows="10">test</textarea> -->
        <span>
          <div style="margin-top: 5px" class="float-right">
            <button (click)="navigateToBlogHome()" class="btnDiscard">Discard</button>
            <button class="btnCreatePost">Post</button>
          </div>
        </span>
        </div>
      </form>
    </div>
  </div>
</div>
</body>